<h1>Listing users</h1>

<%= content_tag :table, role: :datatable, data: { url: users_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>
